@font-face {
    font-family: WorkSans-Bold;
    src: url(assets/fonts/static/WorkSans-Bold.ttf) format("truetype");
}

@font-face {
    font-family: WorkSans-Regular;
    src: url(assets/fonts/static/WorkSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: WorkSans-SemiBold;
    src: url(assets/fonts/static/WorkSans-SemiBold.ttf) format("truetype");
}

h1 {
    font-family: WorkSans-Bold;
}

.question {
    font-family: WorkSans-SemiBold;
    margin: 10px;
}

.question p {
    font-family: WorkSans-Regular;
}

.faqcontainer {
  position: absolute; /* or fixed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  min-height: 250px;
    
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    padding: 50px;
    max-width: 450px;*/
}